.player{
    width: 50%;
    margin: auto;
    display: flex;
    flex-direction: column;
    padding: 50px;
    justify-content: center;
    align-items: center;
    border-radius: 80px;
    border: 3px solid#26a7acad;
background-color: rgb(80, 87, 97);
color: rgb(22, 206, 175);


}
.details{
    display: flex;   
    flex-direction: column;
    align-items: center;
    justify-content: center;
padding: 50px;
border-radius: 50px;


}

.button{
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
justify-content: space-evenly;




}

.slider_container{
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;



}

.btn{
height: 30px;
height: 50px;
margin: 40px;

cursor: pointer;
}




.track-art{
  border-radius: 80px;  
height:550px ;
width: 500px;

    



}

body {
background-color: rgb(25, 175, 175);
}

.seek_slider {
width: 540px;
cursor: pointer;
}








