body{
text-align: center;
background: #11e223;
font-family: sans-serif;
font-weight: 100;
}
h1{
color: rgb(0, 0, 0);
font-weight: 100;
font-size: 40px;
margin: 40px 0px 20px;
}
#clockdiv{
font-family: sans-serif;
color: #0c5294;
display: inline-block;
font-weight: 100;
text-align: center;
font-size: 30px;
}

#clockdiv > div{
padding: 10px;
border-radius: 3px;
background: #25c454;
display: inline-block;
}
#clockdiv div > span{
padding: 15px;
border-radius: 3px;
background: #8cff20;
display: inline-block;
}
smallttext{
    padding-top: 5px;
    font-size: 16px;
}
























